<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Mail</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
            <p>
              <strong>Name</strong>: {{example.name}}</p>
            <p>
              <strong>Email:</strong> {{example.email}}</p>
            <p>
              <strong>Relationship:</strong> {{example.relation}}</p>
            <p>
              <strong>Subject:</strong> {{example.sub}}</p>
            <p>
              <strong>Text-area:</strong> {{example.text}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>